@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables.scss' as *;



.block {
    width: 50px;
    height: 50px;
    margin-top: 1rem;
    border: 1px solid black;
    background-color: $emerald;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;

    &--completed {
        width: 50px;
        height: 50px;
        margin-top: 1rem;
        border: 1px solid black;
        background-color: $fireopal;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 2rem;
    }

}

    

