$black: #000000;
$white: #FFFFFF;
$sugarglazedcashew: #CDA159;
$fudgesicle: #CD59B2;
$emerald: #59CD90;
$fireopal: #EE6352;



$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1279px;