$black: #000000;
$white: #FFFFFF;
$emerald: #59CD90;
$copperred: #cd6759;



$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1279px;

$min-height: 480px;
$header-height: 8rem;