@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.quizmemory {
    background-color: $emerald;
    width: 100%;
    margin-bottom: $header-height;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    &-container{
        width: 100%;
        margin-bottom: $header-height;
        background-color: white;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border-radius: 25px;
        // border: 2px solid black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title{
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        &__questionbox{
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--prompt{
                width: 80%;
                align-self: center;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                padding-left: 15px;
                padding-right: 15px;
            }
        }

    }

}

.messageYes {
    color: $copperred;
    font-size: 2.25rem;
    margin-top: 1rem;
}

.messageNo {
    color: black;
    font-size: 2.25rem;
    margin-top: 1rem;
}

.reloadbutton {
    width: 225px;
    height: 60px;
    background-color: $emerald;
    font-size: 1.75rem;
    border-radius: 10px;
}