@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables.scss' as *;


.notloggedin {
    height: 100vh;
    background-color: $emerald;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;

    &-container{
        width: 80%;
        height: calc(100% - $header-height - $header-height);
        // margin-bottom: $header-height;
        margin-top: 4rem;
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}