*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    background-color: #FC967E;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    &__logo-container{
        width: 70px;

        &--image{
            width: 100%;
        }
    }
}