@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables.scss' as *;

.main{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__bar{
        display: flex;
        flex-direction: row;
    }

}
